@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.reset-page {
    font-family: 'Julius Sans One', sans-serif;
    background-image: url('reset_background.png'); /* Change the background image if needed */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.reset-container {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: auto; /* Adjust height based on content */
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgba(242, 242, 242, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: none;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.reset-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    background-color: #f2f2f2;
}

.submit-button-container {
    display: flex;
    justify-content: center;
}

.submit-button {
    padding: 10px;
    background-color: #f2f2f2;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Julius Sans One', sans-serif;
}

.submit-button:hover {
    background-color: #d9d9d9; 
}
