.message-window {
    align-items: stretch;
    height: 100%;
    overflow-y: scroll;
    scroll-margin: 20%;
    background-color: #d9d9d9d0;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #8b8b8b;
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
} 

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 6px; /* Rounded corners */
  }

.message {
    align-self: flex-start;
    width: 80%;
    background-color: #f5fbef;
    border: 1px solid #c7e2c9;
    padding: 4px;
    border-radius: 4px;
    margin: 5px 0;
}

.message-self {
    align-self: flex-end;
    background-color: #d1beb0;
    border: 1px solid #c49f94;
}

.message-username {
    font-size: 12px;
    font-weight: bold;
    color: #5a352a;
}

.message-text {
    font-size: 15px;
}