.message-window {
    align-items: stretch;
    height: 100%;
    overflow-y: scroll;
    scroll-margin: 20%;
    background-color: #d9d9d9;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #8b8b8b;
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
} 

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 6px; /* Rounded corners */
  }

.message {
    align-self: flex-start;
    display: flex;
    justify-content: baseline;
    width: 98%;
    background-color: #f0ebeb;
    border: 2px solid #868686;
    padding: 7px;
    border-radius: 8px;
    margin: 5px 0;
    height: auto; 
    min-height: 25%; 
}

.message-self {
    align-self: flex-end;
    background-color: #d1beb0;
    border: 1px solid #c49f94;
}

.message-username {
    align-self: center;
    margin-right: 5px;
    margin-left: 5px;
    font-size: calc(0.4vh + 0.9vw);
    font-weight: bold;
    color: #050505;
}

.message-text {
    height: auto;
    align-self: center;
    font-size: calc(0.4vh + 0.9vw);
    word-wrap: break-word;
    white-space:initial;
    max-width: 90%;
}