
.inner-game-field {
  display: grid;
  grid-template-columns: repeat(20, 4.5vh);
  grid-template-rows: repeat(20, 4.5vh)
}


.custom-hover:hover .blocki {
  cursor: grab;
}

.custom-hover:active .blocki {
  cursor: grabbing;
}


.blocki.dragging {
  background-color: rgba(128, 249, 6, 0.1); /* Halbtransparenter roter Hintergrund */
}


.droppable {
  width: 200px;
  height: 200px;
  background-color: rgb(1, 125, 1);
} 
