.gamepage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.game-field{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.left-overviews{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-overviews{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single-block{
    width: 4vh;
    height: 4vh;
}


.red-block{
    width: 4vh;
    height: 4vh;
    background-color: #FF0000;
    border: 2px solid #CF0000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-red-block {
    width: 2.5vh;
    height: 2.5vh;
    background-color: #FF0000;
    border: 2px solid #CF0000;
    box-sizing: border-box;
}

.green-block{
    width: 4vh;
    height: 4vh;
    background-color: #00FF00;
    border: 2px solid #00CF00;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-green-block {
    width: 2.5vh;
    height: 2.5vh;
    background-color: #00FF00;
    border: 2px solid #00CF00;
    box-sizing: border-box;
}

.yellow-block{
    width: 4vh;
    height: 4vh;
    background-color: #FFFF00;
    border: 2px solid #CFCF00;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-yellow-block {
    width: 2.5vh;
    height: 2.5vh;
    background-color: #FFFF00;
    border: 2px solid #CFCF00;
    box-sizing: border-box;
}

.blue-block{
    width: 4vh;
    height: 4vh;
    background-color: #0000FF;
    border: 2px solid #0000CF;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-blue-block {
    width: 2.5vh;
    height: 2.5vh;
    background-color: #0000FF;
    border: 2px solid #0000CF;
    box-sizing: border-box;

}

.marked-block {
    width: 4vh;
    height: 4vh;
    background-color: #878787;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.empty-square {
    width: 4vh;
    height: 4vh;
    background-color: #B0B0AE;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill-square{
    width: 4vh;
    height: 4vh
}



  