.gamepage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-field{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.overviews-container{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.single-block{
    width: 4vh;
    height: 4vh;
}


.red-block{
    width: 4vh;
    height: 4vh;
    background-color: #FF0000;
    border: 2px solid #CF0000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-block-inner {
    width: 2.5vh;
    height: 2.5vh;
    background-color: #FF0000;
    border: 2px solid #CF0000;
    box-sizing: border-box;
}

.green-block{
    width: 4vh;
    height: 4vh;
    background-color: #00FF00;
    border: 2px solid #00CF00;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-block-inner {
    width: 2.5vh;
    height: 2.5vh;
    background-color: #00FF00;
    border: 2px solid #00CF00;
    box-sizing: border-box;
}

.yellow-block{
    width: 4vh;
    height: 4vh;
    background-color: #FFFF00;
    border: 2px solid #CFCF00;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-block-inner {
    width: 2.5vh;
    height: 2.5vh;
    background-color: #FFFF00;
    border: 2px solid #CFCF00;
    box-sizing: border-box;
}

.blue-block{
    width: 4vh;
    height: 4vh;
    background-color: #0000FF;
    border: 2px solid #0000CF;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-block-inner {
    width: 2.5vh;
    height: 2.5vh;
    background-color: #0000FF;
    border: 2px solid #0000CF;
    box-sizing: border-box;

}

.marked-block {
    width: 4vh;
    height: 4vh;
    background-color: #878787;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.empty-square {
    width: 4vh;
    height: 4vh;
    background-color: #B0B0AE;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill-square{
    width: 4vh;
    height: 4vh
}

.placed{
    opacity: 0.7;
}

.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height:35%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 25px;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

.popup-content {
    max-width: 400px;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}



  